.vs
Task_1/App.config
Task_1/Properties
Task_1/bin
Task_1/Task_1.csproj
Task_1/obj
Task_2/App.config
Task_2/Properties
Task_2/bin
Task_2/Task_2.csproj
Task_2/obj
Task_3/App.config
Task_3/Properties
Task_3/bin
Task_3/Task_3.csproj
Task_3/obj
Task_4/App.config
Task_4/Properties
Task_4/bin
Task_4/Task_4.csproj
Task_4/obj
Task_5/App.config
Task_5/Properties
Task_5/bin
Task_5/Task_5.csproj
Task_5/obj
gb_c-sharp-basics/App.config
gb_c-sharp-basics/Properties
gb_c-sharp-basics/bin
gb_c-sharp-basics/gb_c-sharp-basics.csproj
gb_c-sharp-basics/obj
gb_c-sharp-basics.sln
Lesson_3_Task_1/App.config
Lesson_3_Task_1/Properties
Lesson_3_Task_1/bin
Lesson_3_Task_1/Lesson_3_Task_1.csproj
Lesson_3_Task_1/obj

Lesson_3_Task_2/App.config
Lesson_3_Task_2/Properties
Lesson_3_Task_2/bin
Lesson_3_Task_2/Lesson_3_Task_2.csproj
Lesson_3_Task_2/obj

Lesson_3_Task_3/App.config
Lesson_3_Task_3/Properties
Lesson_3_Task_3/bin
Lesson_3_Task_3/Lesson_3_Task_3.csproj
Lesson_3_Task_3/obj

Lesson_3_Task_4/App.config
Lesson_3_Task_4/Properties
Lesson_3_Task_4/bin
Lesson_3_Task_4/Lesson_3_Task_4.csproj
Lesson_3_Task_4/obj

Lesson_4_Task_2/App.config
Lesson_4_Task_2/Properties
Lesson_4_Task_2/bin
Lesson_4_Task_2/Lesson_4_Task_2.csproj
Lesson_4_Task_2/obj

Lesson_4_Task_1/App.config
Lesson_4_Task_1/Properties
Lesson_4_Task_1/bin
Lesson_4_Task_1/Lesson_4_Task_1.csproj
Lesson_4_Task_1/obj

Lesson_4_Task_3/App.config
Lesson_4_Task_3/Properties
Lesson_4_Task_3/bin
Lesson_4_Task_3/Lesson_4_Task_3.csproj
Lesson_4_Task_3/obj


Lesson_4_Task_4/App.config
Lesson_4_Task_4/Properties
Lesson_4_Task_4/bin
Lesson_4_Task_4/Lesson_4_Task_4.csproj
Lesson_4_Task_4/obj

Lesson_5_Task_1/App.config
Lesson_5_Task_1/Properties
Lesson_5_Task_1/bin
Lesson_5_Task_1/Lesson_5_Task_1.csproj
Lesson_5_Task_1/obj

